/* 網頁的基礎背景設定*/
*{
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}
body
{   
    background-color: #f3f3f3;    
}

/*上半部的部分*/
.grayBlock{
    background-color:#707070;
    width: 100%;
}
.logo{
    width: 70%;
    padding-left: 0.5%;
    padding-right: 50%;
    padding-bottom: 0.5%;
    padding-top:0.5%;
    display: inline-block;
    vertical-align:-webkit-baseline-middle;
}
.logoTEXT{
    border: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    font-weight: bold; /*字體粗體*/
}

/*中間的主要內容*/
.centerRegion
{
    width: 100%;
    padding: 2em 10em;
    /* background-color: aqua; */

}

.picture
{
    display:flex;
    justify-content: space-between;   
}

.picture img
{
    vertical-align: -webkit-baseline-middle;
    height: 130px;
}
.lst
{
    display:flex;
    justify-content: space-between;
}

.lst div
{
    width: 300px;
    /* background-color: aqua; */
    text-align: center;
    
}

.buttonPage
{
    width: 205px;
    height:205px;
    background-color: #f3f3f3;
    border: 0px;
}

.buttonPage:hover
{
    background-color: #dddddd;
    border: 10px;
    border-color: black;
}
.announcement
{
    display:flex;
    justify-content: space-between;
}

.publishInFo
{
    /* background-color: blue; */
    width:150px;
}
.publishTitle
{
    /* background-color: brown; */
    width: 450px;
}

